on:
  push:
  pull_request_target:
  schedule:
    - cron: '0 * * * *'
jobs:
  move-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ssh-known-hosts: 'github.com'
          ssh-key: ${{ secrets.SSH_KEY }}
          
      - uses: olivr/copybara-action@v1.2.3
        with:
          access_token: ${{ secrets.GH_TOKEN }}
          ssh_key: ${{ secrets.SSH_KEY }}
          ssh_known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          sot_repo: git@github.com:jordanlin00-test-org/origin.git
          destination_repo: git@github.com:jordanlin00-test-org/destination.git
          custom_config: copy.bara.sky
          workflow: default
          copybara_options: --force --init-history
