on:
  push:
  pull_request_target:
jobs:
  move-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ssh-known-hosts: 'github.com'
          ssh-key: ${{ secrets.SSH_KEY }}
          
      - name: set up ssh
        run: | 
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          touch ~/.ssh/known_hosts
          ssh-keygen -R github.com || true
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
        
      - uses: olivr/copybara-action@v1.2.3
        with:
          access_token: ${{ secrets.GH_TOKEN }}
          ssh_key: ${{ secrets.SSH_KEY }}
          ssh_known_hosts: ${{ secrets.SSH_PRIVATE_KEY }}
          sot_repo: https://github.com/jordanlin00-test-org/origin
          destination_repo: git@github.com:jordanlin00-test-org/destination.git
          custom_config: copy.bara.sky
          workflow: default
          copybara_options: --force --init-history
        env:
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
