on:
  push:
  pull_request_target:
jobs:
  move-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ssh-known-hosts: 'github.com'
          ssh-key: ${{ secrets.SSH_KEY }}
          
      - name: Update GitHub's Host Key
        run: |
          # The -H option hashes the host name, which is a good security practice.
          # The output is appended (>>) to the known_hosts file.
          ssh-keyscan -H github.com >> ~/.ssh/known_hosts

      - uses: olivr/copybara-action@v1.2.3
        with:
          access_token: ${{ secrets.GH_TOKEN }}
          ssh_key: ${{ secrets.SSH_KEY }}
          sot_repo: https://github.com/jordanlin00-test-org/origin
          destination_repo: git@github.com:jordanlin00-test-org/destination.git
          custom_config: copy.bara.sky
          workflow: default
          copybara_options: --force --init-history
