on:
  push:
  pull_request_target:
jobs:
  move-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: olivr/copybara-action@v1.2.3
        with:
          access_token: ${{ secrets.GH_TOKEN }}
          ssh_key: ${{ secrets.SSH_KEY }}
          sot_repo: https://github.com/jordanlin00-test-org/origin
          destination_repo: git@github.com:jordanlin00-test-org/destination.git
          custom_config: copy.bara.sky
          workflow: default
          copybara_options: --force --init-history
